@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body {
	font-family: 'Fredoka', sans-serif;
	background-color: #fff8ba;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
	text-align: center;
}

.title {
	background-color: #CB9DF0;
	color: #4B0082;
	padding: 20px;
	border-radius: 12px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
}

.authors {
	background-color: #CB9DF0;
	color: #4B0082;
	padding: 20px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	background-color: #ffd3ab;
	color: #8E24AA;
	padding: 20px;
	border-radius: 12px;
	margin: 0 0 20px;
}


.theorem {
	font-weight: bold;
}

.proof {
	margin-top: 10px;
	padding: 10px;
	border-left: 4px solid #8E24AA;
}

.styled-button {
	font-family: 'Fredoka', sans-serif;
	background-color: #ffd6b0;
	border: 2px solid #AB47BC;
	border-radius: 15px;
	padding: 10px 20px;
	color: #8E24AA;
	font-size: 1.2rem;
	cursor: pointer;
	text-decoration: none;
	transition: transform 0.2s, background-color 0.3s;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
	margin-top: 20px;
	size: 20px;
}

.styled-button:hover {
	transform: scale(1.05);
	background-color: #ffcb9c;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 12px;
}

.styled-button:focus {
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px 4px #AB47BC;
}

.perimeter-text,
.area-text {
	font-size: 18px;
	font-weight: bold;
}

.perimeter-text {
	color: #CB9DF0;
}

.area-text {
	color: #CB9DF0;
}

.slider {
	-webkit-appearance: none;
	width: 200px;
	height: 8px;
	cursor: pointer;
	background: #ffcb9c;
	border-radius: 15px;

}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #CB9DF0;
}
